#disclaimer {
    margin-top: 5em;
}

#disclaimer button {
    padding: 1em;
    margin-top: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#entry-confirm {
    background-color: rgb(233, 40, 88);
    color: aliceblue;

}

#entry-deny {
    background-color: rgb(79, 0, 0);
    color: aliceblue;
}