a:hover {
    color: white;
}

.project a {
    height: 5em;
}

.project i {
    font-size: 3em;
}

.project-price {
    transform: translate(-33px, -8px);
    color: black;
    font-weight: bold;
}

.project img {
    object-fit: cover;
}

#content > .footer {
    padding-top: 1em;
    padding-bottom: 1em;
}