html {
    font-family: Verdana, sans-serif;
    background-color: rgb(30, 30, 30);
    color: #ccc;
    line-height: 1.5em;
    text-align: center;
}

.flex {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

#members > div {
    width: 500px;
}

#members img {
    border-radius: 100px;
}

#members .socials {
    margin-top: 20px;
    font-size: 1.5em;
}

#projects {
    column-gap: 25px;
}

#projects > div {
    width: 400px;
}

#projects h3 {
    height: 20px;
}

#projects .description {
    height: 150px;
    text-align: justify;
}

#projects .img-container {
    height: 300px;
}

#projects img {
    max-height: 300px;
    max-width: 300px;
}

#projects .proj-members {
    font-size: .8em;
}

#projects .warnings {
    margin-top: 10px;
    column-gap: 10px;
}

#projects .content-warning {
    background-color: darkred;
    color: #ccc;
    border-radius: 10px;
    padding: 5px;
}

a {
    color: aquamarine;
}