<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Katsis</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta property="og:title" content="Katsis"/>
        <meta property="og:image" content="https://katsis.net/img/logo.png">
        <meta property="og:description" content="Game studio focused on NSFW projects"/>
        <meta name="description" content="Game studio focused on NSFW projects">
        <meta name="theme-color" content="#ff7f7f">

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"/>
        <link rel="stylesheet" type="text/css" href="common/css/common.css"/>
        <link rel="stylesheet" type="text/css" href="css/index.css"/>
        <link rel="stylesheet" type="text/css" href="css/disclaimer.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
        
        <script src="js/disclaimer.js"></script>
        <script src="js/project.js"></script>
        <script src="https://analytics.katsis.net/shika.js" data-url="https://analytics.katsis.net/analytics/send" data-site-key="4112fa3478cea63cc26ec8e9"></script>
    </head>
    <body>
    {% include 'banner.html.twig' %}
    {% block content %}{% endblock %}
    {% include 'footer.html.twig' %}
    </body>
</html>