{% extends 'base.html.twig' %}

{% block content %}
    <div id="disclaimer">
        <p>
            This website contains mature content such as nudity or sexual acts<br/>
            Before continuing, please confirm that you are in the legal age of seeing these
        </p>
        <button id="entry-confirm">Yes, I am of legal age and want to enter</button><br/>
        <button id="entry-deny" class="button">No, I want to leave</button>
    </div>
    <div id="content" hidden>
    {% include 'content.html.twig' %}
    </div>
{% endblock %}