{% extends 'base.html.twig' %}

{% block content %}
<div>
    <small>Last update: 2024-03-28</small>
    <br><br>
    Welcome on Katsis terms of use.<br>
    The term "website" as designed in this document represent Katsis website, including its subdomains<br>
    The term "project" as designed in this document represent elements such as, but not limited to, games and comics made by the group of person working under the Katsis name<br>
    The term "service" as designed in this document represent this website, projects and the Discord server administrated by Katsis<br>
    The term "Katsis" as designed in this document represent the group of person making services under this name

    <h2>Disclaimer of Warranty</h2>

    The services are provided "AS IS" and "AS AVAILABLE" without warranties of any kind, either express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, title and non-infrigment.<br>
    Your use of the services is at your sole risks as we cannot and do not represent or warrent that the services will always be secure or error-free or that the services will always function without delays, disruptions or imperfections.<br>
    The foregoing disclamers shall apply to the extent permitted by the applicable law.

    <h2>Data Treatment</h2>
    Katsis website is not collecting any personal data.<br>
    Katsis is not responsible for the data treatments of its others services not hosted on the website, and must provide their own data treatment policy if they do.

    <h2>Rules of Conduct</h2>
    You are expected to not make an abusive use of the services.<br>
    We can refuse to provide or stop providing all or part of the service to you if we believe that your use of the service violate these terms of use.

    <h2>Project Hosting Policy</h2>
    The hosting of services by Katsis is done in exchange of application of common sense and the following of laws the content is hosted at.<br>
    We reserve the right to stop hosting any service that we believe break these terms of use.

    <h2>Contact</h2>
    Katsis is providing support by the platform Discord https://discord.gg/NKf98xmp9X<br>
    For urgent requests concerning the website you can send a mail to contact@zirk.eu.
    
    <h2>Legal Mentions</h2>

    Website made by:<br>
    Katsis<br>
    <br>
    Website hosted by:<br>
    SCALEWAY<br>
    Simplified joint stock company<br>
    SIREN: 433 115 904 RCS Paris
</div>
{% endblock %}