{% extends 'base.html.twig' %}

{% block content %}
<div class="content has-text-left m-5" id="terms">
    <small>Last update: 2024-10-30</small>
    <p>
        Welcome on Katsis terms of use.<br>

        The term "Katsis" as designed in this document represent the group of person making products under this name
        The term "project" as designed in this document is an umbrella term covering all Katsis projects such as, but not limited to:
        <ul>
            <li>Katsis website and its subdomains</li>
            <li>Games, comics, images and Discord bots produced by person working under Katsis name</li>
        </ul>
    </p>

    <h2>Disclaimer of Warranty</h2>

    The services are provided "AS IS" and "AS AVAILABLE" without warranties of any kind, either express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, title and non-infrigment.<br>
    Your use of the services is at your sole risks as we cannot and do not represent or warrent that the services will always be secure or error-free or that the services will always function without delays, disruptions or imperfections.<br>
    The foregoing disclamers shall apply to the extent permitted by the applicable law.

    <h2>Data Treatment</h2>
    Katsis website uses an open-source data analytics tool called <a href="https://github.com/Astylodon/Shika/">Shika</a><br>
    Shika may collect information such as your referrer or your country, but do not collect your IP or any other way to identify yourself<br>
    Others Katsis projects may have a different data treatment policy, in that case please read their own policies

    <h2>Rules of Conduct</h2>
    You are expected to not make an abusive use of the services.<br>
    We can refuse to provide or stop providing all or part of the service to you if we believe that your use of the service violate these terms of use.

    <h2>Contact</h2>
    Katsis is providing support by the platform Discord https://discord.gg/NKf98xmp9X<br>
    For urgent requests concerning the website you can send a mail to contact@zirk.eu.
    
    <h2>Legal Mentions</h2>

    Website made by using Bulma by Katsis<br>
    <br>
    Hosted by:<br>
    SCALEWAY<br>
    Simplified joint stock company<br>
    SIREN: 433 115 904 RCS Paris
</div>
{% endblock %}